---
layout: default
---

<section id="contributors">
  <h2>Contributors</h2>
  <ul class="posts-list">
    {% for posts in site.categories.contributors %}
      <li>
        <h3><a href="{{site.baseurl}}{{posts.url}}">{{posts.title}}</a></h3>
        <a href="{{site.baseurl}}{{posts.url}}">
      
        </a>

      </li>
    {% endfor %}
  </ul>
</section>

<section id="Articles">
  <h2>Articles</h2>
  <ul class="posts-list">
    {% for posts in site.categories.articles %}
      <li>
        <h3><a href="{{site.baseurl}}{{posts.url}}">{{posts.title}}</a></h3>
        <p>{{posts.meta}}</p>
        <ul class="tags">
          {% for tag in posts.tags %}
            <li><a href="/tags#{{ tag }}" class="tag">{{ tag }}</a></li>
          {% endfor %}
        </ul>
        
      </li>
    {% endfor %}
  </ul>
</section>

<section id="About">
  <h2>About</h2>
  <p>Lorem ipsum</p>
</section>
