---
layout: default
---

<section id="media">
  <h2>Media</h2>
  <p>Information</p>
  <ul class="posts-list">
    {% for posts in site.categories.media %}
      <li>
        <h3><a href="{{site.baseurl}}{{posts.url}}">{{posts.title}}</a></h3>
        <p>{{posts.meta}}</p>
        <p>{{posts.source}}</p>
        {% for tags in posts.tags %}
          <ul>
            <li>
              <a href="{{site.baseurl}}/{{tags}}/index.html">{{tags}}</a>
            </li>
          </ul>
        {% endfor %}
      </li>
    {% endfor %}
  </ul>
</section>

<section id="collection">
  <h2>Collection</h2>
  <p>Information</p>
  <ul class="posts-list">
    {% for posts in site.categories.interaction %}
      <li>
        <h3><a href="{{site.baseurl}}{{posts.url}}">{{posts.title}}</a></h3>
        <p>{{posts.meta}}</p>
        <p>{{posts.source}}</p>
        <p>{{posts.tags}}</p>
      </li>
    {% endfor %}
  </ul>
</section>
